{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container theme-showcase" role="main" style="font-family: arial;">

<div class="row">
  <div class="col-md-6">
    <h1 style="font-size: 40px">Create your Campaign</h1>
  </div>
</div>
<nav class="o-stepbar">
    <ol>
        <li class="stepbar-item done">
            <a class="stepbar-link" href="#" title="Step 1 : General Info">
                <span class="step-number">1</span>
                <span class="step-title">General Info</span>
            </a>
        </li>
        <li class="stepbar-item done">
            <a class="stepbar-link" href="#" title="Step 2 : Template" aria-current="step">
                <span class="step-number">2</span>
                <span class="step-title">Template</span>
            </a>
        </li>
        <li class="stepbar-item current">
            <a class="stepbar-link" href="#" title="Step 3 : Accusantinum">
                <span class="step-number">3</span>
                <span class="step-title">Customize</span>
            </a>
        </li>
        <li class="stepbar-item next">
            <a class="stepbar-link" href="#" title="Step 4 : Ipsam">
                <span class="step-number">4</span>
                <span class="step-title">Preview</span>
            </a>
        </li>
        <li class="stepbar-item next">
            <a class="stepbar-link" href="#" title="Step 5 : Aspernatur">
                <span class="step-number">5</span>
                <span class="step-title">Delivery</span>
            </a>
        </li>
        <li class="stepbar-item next">
            <a class="stepbar-link" href="#" title="Step 6 : Aspernatur">
                <span class="step-number">6</span>
                <span class="step-title">Overview</span>
            </a>
        </li>
    </ol>
</nav>

<div class="row">

</div>
<div class="row">
            <form method="post" action="">
              {% csrf_token %}
              {{form.media}}
              {{form.as_p}}


<div class="row" style="margin-top: 1%">
          <a href="{% url 'home' 'dashboard' %}" class="btn btn-secondary" style="margin-left: 60%;">{% trans 'Cancel' %}</a>
        <a href="" id="editor_previous" class="btn btn-secondary" style="margin-left: 1%;">{% trans 'Previous' %}</a>
        <a href="" id="editor_save_draft" class="btn btn-secondary" style="margin-left: 1%;">{% trans 'Save as draft' %}</a>
        <button type="submit" class="btn btn-primary" style="margin-left: 1%;">{% trans 'Next' %}</button>  
</div>




              <!-- <button type="submit">Submit</button>              -->
            </form>
</div>


</div>
<script type="text/javascript">
        $(window).load(function() {
        $('label[for="id_content"]').remove();
    });
    url = window.location.href
    parameter = url.split("/")
    slug = parameter[parameter.length - 2]
    updatecampaign = '/campaign/template/' + slug
    editor_url = '/campaign/editor/' + slug
    $('#editor_previous').attr('href',updatecampaign)
    $('#blank_template').attr('href',editor_url)
</script>
{% endblock  %}
