{% extends 'base.html' %}
{% load i18n %}
{% load apptags %}
{% block content %}
<div class="container theme-showcase" role="main" style="font-family: arial;" >

<div class="row">
  <div class="col-md-6">
    <h1 style="font-size: 40px">{% trans 'Customize your campaign' %}</h1>
  </div>
</div>
<nav class="o-stepbar">
    <ol>
        <li class="stepbar-item done">
            <a class="stepbar-link" href="#" title="Step 1 : General Info">
                <span class="step-number">{% trans '1' %}</span>
                <span class="step-title">{% trans 'General Info' %}</span>
            </a>
        </li>
        <li class="stepbar-item done">
            <a class="stepbar-link" href="#" title="Step 2 : Template" aria-current="step">
                <span class="step-number">{% trans '2' %}</span>
                <span class="step-title">{% trans 'Template' %}</span>
            </a>
        </li>
        <li class="stepbar-item current">
            <a class="stepbar-link" href="#" title="Step 3 : Accusantinum">
                <span class="step-number">{% trans '3' %}</span>
                <span class="step-title">{% trans 'Customize' %}</span>
            </a>
        </li>
<!--         <li class="stepbar-item next">
            <a class="stepbar-link" href="#" title="Step 4 : Ipsam">
                <span class="step-number">{% trans '4' %}</span>
                <span class="step-title">{% trans 'Preview' %}</span>
            </a> -->
        </li>
        <li class="stepbar-item next">
            <a class="stepbar-link" href="#" title="Step 5 : Aspernatur">
                <span class="step-number">{% trans '4' %}</span>
                <span class="step-title">{% trans 'Delivery' %}</span>
            </a>
        </li>
        <li class="stepbar-item next">
            <a class="stepbar-link" href="#" title="Step 6 : Aspernatur">
                <span class="step-number">{% trans '5' %}</span>
                <span class="step-title">{% trans 'Overview' %}</span>
            </a>
        </li>
    </ol>
</nav>

<div class="row">

</div>
<div class="row" style="margin-top: 1%">
            <form method="post" action="" id="form1">
              {% csrf_token %}
              {{form.media}}
              {% if form.errors %}
              <div class="alert alert-primary alert-dismissible fade show" role="alert" style="padding: 1rem;max-width: 30%">
                  <strong>*{{form.errors.campaign_body.as_text|clean_alert}}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="padding: .1rem;">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endif %}
              {{form.campaign_body}}



    <div class="row" style="margin-top: 1%">
        <a href="{% url 'home' %}" class="btn btn-secondary" style="margin-left: 55%;">{% trans 'Cancel' %}</a>
        <a href="" id="editor_previous" class="btn btn-secondary" style="margin-left: 1%;">{% trans 'Previous' %}</a>
        <button type="submit" id="editor_save_draft" onclick="SetDest1()" class="btn btn-secondary" style="margin-left: 1%;">{% trans 'Save as draft' %}</button>
        <button type="submit" class="btn btn-primary" style="margin-left: 1%;">{% trans 'Next' %}</button>  
    </div>
    </form>
</div>


</div>
<script type="text/javascript">
    $('label[for="id_campaign_body"]').remove();
    url = window.location.href
    parameter = url.split("/")
    slug = parameter[parameter.length - 2]
    updatecampaign = '/campaign/template/' + slug
    editor_url = '/campaign/editor/' + slug
    $('#editor_previous').attr('href',updatecampaign)
    $('#blank_template').attr('href',editor_url)

    function SetDest1() {
            ajax_url = '/campaign/editordraft/' + slug+'/'

            document.forms["form1"].action = ajax_url;
        }

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/autosave_editor/' + slug + '/');

    function ajax(){
        var editor = CKEDITOR.instances.id_campaign_body.document.getBody().getHtml();
        var csrf_token = $('input[name=csrfmiddlewaretoken]').val()
        ajax_url = '/campaign/ajax/autodraft/' + slug+'/'
        data = "csrfmiddlewaretoken="+csrf_token+"&"+"campaign_body="+editor
        // chatSocket.onmessage = function(e) {
        //     var data = JSON.parse(e.data);
        //     var message = data['message'];
        //     document.querySelector('#chat-log').value += (message + '\n');
        // };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        chatSocket.send(JSON.stringify({
            'messagess': editor
        }));
}



window.onload=function(){
    // ajax()
    setInterval(ajax, 60000);
}
</script>

{% endblock  %}
