{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container theme-showcase" role="main" style="font-family: arial;">

<div class="row">
  <div class="col-md-6">
    <h1 style="font-size: 40px">{% trans 'Add an entry' %}</h1>
  </div>
</div>
<nav class="o-stepbar">
    <ol>
        <li class="stepbar-item done">
            <a class="stepbar-link" href="#" title="Step 1 : General Info">
                <span class="step-number">1</span>
                <span class="step-title">{% trans 'General Info' %}</span>
            </a>
        </li>
        <li class="stepbar-item done">
            <a class="stepbar-link" href="#" title="Step 2 : Aperiam" aria-current="step">
                <span class="step-number">2</span>
                <span class="step-title">{% trans 'Template' %}</span>
            </a>
        </li>
        <li class="stepbar-item done">
            <a class="stepbar-link" href="#" title="Step 3 : Accusantinum">
                <span class="step-number">3</span>
                <span class="step-title">Customize</span>
            </a>
        </li>
        <li class="stepbar-item done">
            <a class="stepbar-link" href="#" title="Step 4 : Ipsam">
                <span class="step-number">4</span>
                <span class="step-title">Preview</span>
            </a>
        </li>
        <li class="stepbar-item current">
            <a class="stepbar-link" href="#" title="Step 5 : Aspernatur">
                <span class="step-number">5</span>
                <span class="step-title">Delivery</span>
            </a>
        </li>
        <li class="stepbar-item next">
            <a class="stepbar-link" href="#" title="Step 6 : Aspernatur">
                <span class="step-number">6</span>
                <span class="step-title">Overview</span>
            </a>
        </li>
    </ol>
</nav>
<!-- <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="icon-calendar_month"></span>
                    </span>
                </div>
            </div>
        </div>
        </div>
</div> -->
<form method="post" action="">
    {% csrf_token %}
<div class="row">
    <input type="date" name="date">
    <input type="time" name="time">
</div>

<div class="row" style="margin-top: 9%">
          <a href="{% url 'home' %}" class="btn btn-secondary" style="margin-left: 60%;">{% trans 'Cancel' %}</a>
        <a href="" id="template_previous" class="btn btn-secondary" style="margin-left: 1%;">{% trans 'Previous' %}</a>
        <a href="{% url 'home' %}" class="btn btn-secondary" style="margin-left: 1%;">{% trans 'Save as draft' %}</a>
        <button type="submit" class="btn btn-primary" style="margin-left: 1%;">{% trans 'Next' %}</button>  
</div>
</form>

</div>
<script type="text/javascript">
                $(function () {
                $('#datetimepicker1').datetimepicker();
            });
    url = window.location.href
    parameter = url.split("/")
    slug = parameter[parameter.length - 2]
    editorcampaign = '/campaign/editor/' + slug
    editor_url = '/campaign/editor/' + slug
    $('#template_previous').attr('href',editorcampaign)
    // $('#template_next').attr('href',editor_url)

</script>
{% endblock  %}
