{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{campaign}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
     <div class="navbar-nav" style="margin-left: 40rem">
     	<!-- <a href="" type="button" class="btn btn-success" style="margin-left: .1rem">{% trans 'Save as draft' %}</a> -->
     	<a href="{% url 'audience' campaign %}" type="button" class="btn btn-success" style="margin-left: .1rem">{% trans 'Previous' %}</a>
     	<a href="" type="button" class="btn btn-success" style="margin-left: .1rem">{% trans 'Next' %}</a>
      <a href="" type="button" class="btn btn-success" style="margin-left: .1rem">{% trans 'Cancel' %}</a>
      <a href="" type="button" class="btn btn-success" style="margin-left: .1rem">{% trans 'Submit' %}</a>
    </div>
  </div>
</nav>
<div class="container">
	<div class="row">
      {% include 'campaign_sidebar.html' %}
		<div class="col-md-10">
			<div class="jumbotron" style="border: 1px solid #ddd;border-radius: 30px;margin-top: 1rem">
        <div class="o-tab-container ">
          <a class="o-tab-heading" href="#" id="tab1">My Template And Import</a>
          <div class="o-tab-content" id="tab-1-content">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch</div>
          <a class="o-tab-heading" href="#" id="tab2">Layout Template Editor</a>
          <div class="o-tab-content" id="tab-2-content">Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
          <a class="o-tab-heading" href="#" id="tab3">Existing Design Templates</a>
          <div class="o-tab-content" id="tab-3-content">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</div>
          <a class="o-tab-heading" href="#" id="tab4">HTML Editor</a>
          <div class="o-tab-content show" id="tab-4-content">
            <form method="post" action="">
              {% csrf_token %}
              {{form.media}}
              {{form.as_p}} 
              <button type="submit">Submit</button>             
            </form>

          </div>
        </div>
			</div>
		</div>
	</div>
</div>

  <script type="text/javascript">
    // $(document).ready(function() { 
    // $('#cke_1_top').load(function() { 
        // $('#cke_19').attr('style','display:none')           
    // });
// });
    $(window).load(function() {
      // alert('ffasfas')
    // $(function(){
        // $('.cke_top').css({'padding':''}).remove();            
        $('label[for="id_content"]').remove();
        $('.cke_top').attr({'style':'padding:0'});            
        $('#cke_19').attr('style','display:none')           
        // $('#cke_1_top').css({'padding':''});            
    });
        // $('.cke_top').css({'padding':''});            
        $('.cke_top').attr({'style':'padding:0'}); 
        $('#cke_19').attr('style','display:none')           

    $('span#cke_1_top').load(function() { 
        $('#cke_19').attr('style','display:none')           
       // do something
    });

  </script>
{% endblock  %}
