{% load i18n %}
{% load static %}
{% load apptags %}


        <div class="col-12 col-sm-12 col-md-10 col-lg-10 offset-md-1" style="margin-bottom: 4%;">

      <!-- Start form -->
          <form class="login" method="POST" action="{% url 'login' %}">
           {% csrf_token %}
                      <div class="form-group">
                            <label for="id_username" style="color: #fff">{% trans 'CUID' %}</label>
                <input type="text" name="username" class="form-control" aria-describedby="emailHelp" maxlength="254" required="" id="id_username" style="background-color: transparent;color: #fff;max-width: 216px;max-height: 40px;height: 40px">
                      </div>
                      <div class="form-group">
                        <label for="id_password" style="color: #fff">{% trans 'Password' %}</label>
              <input type="password" class="form-control" name="password" required="" id="id_password" style="background-color: transparent;color: #fff;max-width: 216px;max-height: 40px;height: 40px">
                      </div>
                {% if form.errors %}
                        <div class="alert alert-primary alert-dismissible fade show" role="alert" style="margin:1rem;padding: 1rem">
                      {{form.errors.as_text|clean_alert}}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin:0;padding: .1rem">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                {% endif %}
                      <div class="form-group">
              <a href="{% url 'password_reset' %}" style="color: white;padding-right: 1rem">Forgot password?</a>
                        <button type="submit" class="btn btn-inverse btn-primary" style="padding: .15rem .55rem">{% trans 'Login' %}</button>
                  </div>

                      
                    </form>
    </div>
