{% extends "base-login.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}


<div class="row">

        <div class="col-12 col-sm-12 col-md-10 col-lg-10 offset-md-1" style="margin-bottom: 4%;">
        	<p class="message">
        		An email was sent with a link to reset your password.
        	</p>
        </div>

{% include 'registration/login_form.html' %}


<!-- 
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 offset-md-1" style="margin-bottom: 4%;">
          <form class="login" method="POST" action="/accounts/login/">
          	{% csrf_token %}
                      <div class="form-group">
                            <label for="id_username" style="color: #fff">CUID</label>
                <input type="text" name="username" class="form-control" aria-describedby="emailHelp" maxlength="254" required="" id="id_username" style="background-color: transparent;color: #fff;max-width: 216px;max-height: 40px;height: 40px">
                      </div>
                      <div class="form-group">
                        <label for="id_password" style="color: #fff">Password</label>
              <input type="password" class="form-control" name="password" required="" id="id_password" style="background-color: transparent;color: #fff;max-width: 216px;max-height: 40px;height: 40px">
                      </div>
                      <div class="form-group">
              <a href="/accounts/password_reset/" style="color: white;padding-right: 1rem">Forgot password?</a>
                        <button type="submit" class="btn btn-inverse btn-primary" style="padding: .15rem .55rem">Login</button>
                  </div>
                      
                    </form>
    </div>
 -->


        </div>


    <h1>{% trans "Password Reset" %}</h1>
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}