{% extends "base-login.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'password_reset' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 offset-md-1" style="margin-bottom: 4%;">

            <form method="POST" action="{{ action_url }}">
                <p style="color: white;font-weight: bold;">{% trans 'Reset your password' %}</p>
                {% csrf_token %}

                <div class="form-group">
                            <label for="id_new_password1" style="color: #fff">{% trans 'New password' %}</label>
                <input type="password" name="new_password1" class="form-control" aria-describedby="" maxlength="254" required="" id="id_new_password1" style="background-color: transparent;color: #fff;max-width: 216px;max-height: 40px;height: 40px">
                {% if form.errors.new_password1 %}
                        <div class="alert alert-primary alert-dismissible fade show" role="alert" style="margin:1rem;padding: 1rem">
                      {{form.errors.new_password1}}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin:0;padding: .1rem">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                {% endif %}
                      </div>

                <div class="form-group">
                <label for="id_new_password2" style="color: #fff">{% trans 'New password again' %}</label>
                <input type="password" name="new_password2" class="form-control" aria-describedby="" maxlength="254" required="" id="id_new_password2" style="background-color: transparent;color: #fff;max-width: 216px;max-height: 40px;height: 40px">
                {% if form.errors.new_password2 %}
                        <div class="alert alert-primary alert-dismissible fade show" role="alert" style="margin:1rem;padding: 1rem">
                      {{form.errors.new_password2}}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin:0;padding: .1rem">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                {% endif %}
                      </div>

                      <div class="form-group">
              <a href="{% url 'login' %}" class="btn btn-inverse btn-dark" style="padding-right: 1rem">Cancel</a>
                        <button type="submit" class="btn btn-inverse btn-primary" style="padding: .25rem .55rem;margin-left: 3rem">{% trans 'Reset' %}</button>

                  </div>


                <!-- {{ form.as_p }} -->
            </form>
        </div>
        {% else %}
            <p class="message" style="margin: .5rem">
                {% trans 'Possibly, this link has been used.' %}
                {% trans 'Your password is already changed.' %}
            </p>
        {% endif %}
    {% endif %}
{% endblock %}