{% load scheduletags %}
<table class="table table-striped">
    {% for slot in slots %}
    <tr>
    <td>
      <span class="time">{{ slot.start|time:"G:i" }}</span>
    </td>
    <td>
      <div class="row">
        
      {% for occ in slot.occurrences %}
      {% if occ.event.campaign.creator == request.user %}
      <div class="col-md-2">
      <a href="{% url 'overview' occ.event.campaign.slug %}" class="btn {% if occ.cancelled %} btn-danger {%else%} btn-primary {% endif %}">
                  {% title occ %}
            </a>
      </div>  
      {% endif %}
      {% endfor %}
      </div>

    </td>
  </tr>
    {% endfor %}
</table>
