{% extends "base.html" %}
{% load scheduletags i18n %}

{% block body %}

{% include "schedule/_dialogs.html" %}
<div class="row row-centered">
  <a class="btn btn-primary gradient" href="{% url "week_calendar" calendar.slug %}{% querystring_for_date period.start 3 %}" style="margin-left: 1rem">
    {% trans "Week" %}
  </a>
  <a class="btn btn-primary gradient" href="{% url "month_calendar" calendar.slug %}{% querystring_for_date period.start 2 %}" style="margin-left: 1rem">
    {% trans "Month" %}
  </a>
  <a class="btn btn-primary gradient" href="{% url "year_calendar" calendar.slug %}{% querystring_for_date period.start 1 %}" style="margin-left: 1rem">
    {% trans "Year" %}
  </a>
</div>


<div class="row">
    <!-- <h1>{{ calendar.name }}</h1> -->
    <div class="col-md-4">
    <h1>Calendar</h1>
  </div>
    <div class="col-md-8 offset-md-3">
    {% prevnext "day_calendar" calendar period "l, F d, Y" %}
  </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-5"
    <div class="now">
      <a class="btn btn-primary" href="{% url "day_calendar" calendar.slug %}">
        {% trans "Today" %}
      </a>
    </div>
  </div>
</div>
  <div class="row row-centered">
    <div>
      {% daily_table period %}
    </div>
</div>

{% endblock %}
