<!DOCTYPE html>
<html class="gr__"><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252"></head><body data-gr-c-s-loaded="true">
<table style="background-color: #333; padding: 30px;" cellspacing="0" cellpadding="0" border="0" width="100%">
<tbody>
<tr>
<td>
<table style="background: #111;" cellspacing="0" cellpadding="0" align="center" border="0" width="600">
<tbody>
<tr>
<td><img alt="Badim Summer" src="Template2_fichiers/IMG-uwaFjBxrHc.png" height="194" width="600"></td>
</tr>
</tbody>
</table>
<table style="background: #eee;" cellspacing="0" cellpadding="0" align="center" border="0" width="600">
<tbody>
<tr>
<td style="font: bold 26px arial; color: #ff6600; padding: 20px;">Consumers, Taming the Power of the Digital World</td>
</tr>
<tr>
<td style="font: 12px arial; color: #000; padding: 0 20px 20px;">Hello,<br><br>We
 are proposing you this new form of reading and listening to the latest 
badim contents. This is a comprehensive table of contents of the focus 
per article, either in the written form <img src="Template2_fichiers/IMG-n3otjr7f0h.png" height="12" width="12"> or audio <img src="Template2_fichiers/IMG-nuv3qhn4pb.png" height="12" width="12"> when available.<br><br>Note that use of Internet Explorer is recommended to read webinar recordings.</td>
</tr>
</tbody>
</table>
<p style="margin: 0;"> </p>
<table style="background: #4bb4e6; color: #000;" cellspacing="0" cellpadding="0" align="center" border="0" width="600">
<tbody>
<tr>
<td style="font: bold 24px arial; padding: 20px 20px 0;">Contents</td>
</tr>
<tr>
<td style="padding: 20px;">
<table style="font: 12px arial; color: #000;" cellspacing="0" cellpadding="0" border="0" width="560">
<tbody>
<tr>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-mW1rdvXSua.jpg" height="102" width="131"></td>
<td style="padding: 0 12px 0 0;" width="131"></td>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-wIbKfUviq2.png" height="102" width="131"></td>
<td width="131"><img src="Template2_fichiers/IMG-WtQtdKQM9l.jpg" height="102" width="131"></td>
</tr>
<tr>
<td style="padding: 0 12px 0 0;" colspan="2" valign="top" width="274">Editorial <br>"<b>Combining
 the collective intelligence of customers and employees to develop new 
uses so as to satisfy their expectations and desires</b>" by Valérie LE BOULANGER, Group Director of Human Ressources<br><a href="http://mex.itn.ftgroup/en/node/86550"><img src="Template2_fichiers/IMG-n3otjr7f0h.png"></a></td>
<td style="padding: 0 12px 0 0;" valign="top" width="131"><b>Q-2 Key Figures</b> <br>by Chantal DUBON-CHEVALLIER <br><a href="http://vod.com.ftgroup/RedirectionURLs/Main.aspx?videoName=WXoyWPWtrsrmGDvtVike"><img src="Template2_fichiers/IMG-nuv3qhn4pb.png"></a></td>
<td valign="top" width="131">Framework "<b>Consuming digital without moderation, but in conscience</b>"<br>by Chantal DUBON-CHEVALLIER<br><a href="http://mex.itn.ftgroup/en/content/86522-consuming-digital-without-moderation-conscience"><img src="Template2_fichiers/IMG-n3otjr7f0h.png"></a><a href="http://vod.com.ftgroup/RedirectionURLs/Main.aspx?videoName=Wn0AgVU0irwdkxo5Bk5A"><img src="Template2_fichiers/IMG-nuv3qhn4pb.png"></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table style="background: #eee; color: #000;" cellspacing="0" cellpadding="0" align="center" border="0" width="600">
<tbody>
<tr>
<td style="font: bold 24px arial; padding: 20px 20px 0;">Ever-More Intense Digital Usage</td>
</tr>
<tr>
<td style="padding: 20px;">
<table style="font: 12px arial; color: #000;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-Mr1p5NHzYc.png" height="102" width="131"></td>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-Mr1p5NHzYc.png" height="102" width="131"></td>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-Mr1p5NHzYc.png" height="102" width="131"></td>
<td width="131"><img src="Template2_fichiers/IMG-oQtP0t607P.png" height="102" width="131"></td>
</tr>
<tr>
<td style="padding: 0 12px 0 0;" valign="top" width="131">Key Figures "Communication / Europe" <span style="color: #999;">by Fabrice DURAND &amp; Ahmet TAT</span> <br> <a href="http://mex.itn.ftgroup/en/content/86367-badim-summer-2018-communication-figures-europe" target="_blank"><img src="Template2_fichiers/IMG-n3otjr7f0h.png"></a></td>
<td style="padding: 0 12px 0 0;" valign="top" width="131">Key Figures "Communication / Africa &amp; Middle East " <span style="color: #999;">by Fabrice DURAND &amp; Ahmet TAT</span> <br> <a href="http://mex.itn.ftgroup/en/content/86368-badim-summer-2018-communication-figures-mea" target="_blank"><img src="Template2_fichiers/IMG-n3otjr7f0h.png"></a></td>
<td style="padding: 0 12px 0 0;" valign="top" width="131">"IM, image and ephemeral communication as social media’s winning trio" <span style="color: #999;">by Anne-yvonne HALLOUX-JAHIER</span> <br> <a href="http://mex.itn.ftgroup/en/content/86363-im-image-and-ephemeral-communication-social-media%E2%80%99s-winning-trio" target="_blank"><img src="Template2_fichiers/IMG-n3otjr7f0h.png"></a><a href="http://vod.com.ftgroup/RedirectionURLs/Main.aspx?videoName=NrxsiY3FYyaPak64WtVq"><img src="Template2_fichiers/IMG-nuv3qhn4pb.png"><br></a></td>
<td valign="top" width="131">Key-Figures "Entertainment / Europe" <span style="color: #999;">by Fabrice DURAND &amp; Ahmet TAT</span> <br> <a href="http://mex.itn.ftgroup/en/content/86365-badim-summer-2018-entertainment-figures-europe" target="_blank"><img src="Template2_fichiers/IMG-n3otjr7f0h.png"></a></td>
</tr>
<tr>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-oQtP0t607P.png" height="102" width="131"></td>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-yItZGczjoE.jpg" height="102" width="131"></td>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-03LsLgQSZS.jpg" height="102" width="131"></td>
<td width="131"><img src="Template2_fichiers/IMG-k4vlRPRB5U.png" height="102" width="131"></td>
</tr>
<tr>
<td style="padding: 0 12px 0 0;" valign="top" width="131">Key-Figures "Entertainment / Africa &amp; Middle East" <span style="color: #999;">by Fabrice DURAND &amp; Ahmet TAT</span> <br> <a href="http://mex.itn.ftgroup/en/content/86366-badim-summer-2018-entertainment-figures-mea" target="_blank"><img src="Template2_fichiers/IMG-n3otjr7f0h.png"></a></td>
<td style="padding: 0 12px 0 0;" valign="top" width="131">"Entertainment on demand from smartphones" <span style="color: #999;">by Céline LOUIS</span> <br> <a href="http://mex.itn.ftgroup/en/node/86388" target="_blank"><img src="Template2_fichiers/IMG-n3otjr7f0h.png"><br></a></td>
<td style="padding: 0 12px 0 0;" valign="top" width="131">"eSport: more than a geek phenomenon" <span style="color: #999;">by Céline LOUIS</span> <br> <a href="http://mex.itn.ftgroup/en/content/86391-esport-more-geek-phenomenon" target="_blank"><img src="Template2_fichiers/IMG-n3otjr7f0h.png"></a></td>
<td valign="top" width="131">Key-Figures "Digital Usage by Age Group" <span style="color: #999;">by Fabrice DURAND and Ahmet TAT</span> <br> <a href="http://mex.itn.ftgroup/en/content/86369-badim-summer-2018-digital-usage-age-group" target="_blank"><img src="Template2_fichiers/IMG-n3otjr7f0h.png"></a></td>
</tr>
<tr>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-0Dla8JEAOr.jpg" height="102" width="131"></td>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-GJLg8Mtmeo.jpg" height="102" width="131"></td>
<td style="padding: 0 12px 0 0;" width="131"></td>
<td width="131"></td>
</tr>
<tr>
<td style="padding: 0 12px 0 0;" valign="top" width="131">"Mobile banking users are more demanding" <span style="color: #999;">by Fleur BROSSEAU</span> <br> <a href="http://mex.itn.ftgroup/en/content/86378-mobile-banking-users-are-more-demandind" target="_blank"><img src="Template2_fichiers/IMG-n3otjr7f0h.png"></a></td>
<td style="padding: 0 12px 0 0;" valign="top" width="131">"Business Profiles in France" <span style="color: #999;">by Virginie COTTIN &amp; Hind RAFAKI</span> <br> <a href="http://mex.itn.ftgroup/en/content/86407-business-profiles-france" target="_blank"><img src="Template2_fichiers/IMG-n3otjr7f0h.png"></a></td>
<td style="padding: 0 12px 0 0;" valign="top" width="131"></td>
<td valign="top" width="131"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table style="background: #000; color: #fff;" cellspacing="0" cellpadding="0" align="center" border="0" width="600">
<tbody>
<tr>
<td style="font: bold 24px arial; padding: 20px 20px 0;">Technology Accelerates, Humans Tame IT</td>
</tr>
<tr>
<td style="padding: 20px;">
<table style="font: 12px arial; color: #fff;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-bJyO63BbOC.jpg" height="102" width="131"></td>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-ZBnUP8uuzK.jpg" height="102" width="131"></td>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-7ROFbI4PO3.jpg" height="102" width="131"></td>
<td width="131"><img src="Template2_fichiers/IMG-cNagAkHFfX.png" height="102" width="131"></td>
</tr>
<tr>
<td style="padding: 0 12px 0 0;" valign="top" width="131">"Furniture in the e-commerce era" <span style="color: #999;">by Denis VACHER</span> <br> <a href="http://mex.itn.ftgroup/en/content/86356-furniture-e-commerce-era" target="_blank"><img src="Template2_fichiers/IMG-w3p6yqt047.png"></a><a href="http://vod.com.ftgroup/RedirectionURLs/Main.aspx?videoName=B9Q9fBCDazvCC4jiEay7" target="_blank"><img src="Template2_fichiers/IMG-r0uslc4a85.png"></a></td>
<td style="padding: 0 12px 0 0;" valign="top" width="131">"Virtual reality and augmented reality try to win over consumers" <span style="color: #999;">by François DEBEUSSCHER</span> <br><a href="http://mex.itn.ftgroup/en/content/86357-virtual-reality-and-augmented-reality-try-win-over-consumers" target="_blank"><img src="Template2_fichiers/IMG-w3p6yqt047.png"></a><a href="http://vod.com.ftgroup/RedirectionURLs/Main.aspx?videoName=g2PGCe4Jxai9ZKk01xUb" target="_blank"><img src="Template2_fichiers/IMG-r0uslc4a85.png"><br></a></td>
<td style="padding: 0 12px 0 0;" valign="top" width="131">"AI in the relationship with consumers" <span style="color: #999;">by Michel PUHARRE</span> <br><a href="http://mex.itn.ftgroup/en/node/86364" target="_blank"><img src="Template2_fichiers/IMG-w3p6yqt047.png"></a><a href="http://vod.com.ftgroup/RedirectionURLs/Main.aspx?videoName=MJ2HJWHR3YOKTGaLHoo8" target="_blank"><img src="Template2_fichiers/IMG-r0uslc4a85.png"></a> <br><br></td>
<td valign="top" width="131">"Customers brought face to face with how their personal data is used" <span style="color: #999;">by Fleur BROSSEAU</span><br><a href="http://mex.itn.ftgroup/en/content/86381-customers-brought-face-face-how-their-personal-data-used" target="_blank"><img src="Template2_fichiers/IMG-w3p6yqt047.png"></a></td>
</tr>
<tr>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-5Tl2uL3vaC.png" height="102" width="131"></td>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-A66kMuGoBJ.png" height="102" width="131"></td>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-iG5Zv8SqY1.png" height="102" width="131"></td>
<td width="131"><img src="Template2_fichiers/IMG-uSVAFT5GkC.png" height="102" width="131"></td>
</tr>
<tr></tr>
<tr>
<td style="padding: 0 12px 0 0;" valign="top" width="131">"Smart cities: evolution or revolution?" <span style="color: #999;">by Maryana DYMYD</span> <br> <a href="http://mex.itn.ftgroup/en/content/86549-smart-cities-evolution-or-revolution" target="_blank"><img src="Template2_fichiers/IMG-w3p6yqt047.png"></a></td>
<td style="padding: 0 12px 0 0;" valign="top" width="131">"IoT: will miniaturization be a game changer?" <span style="color: #999;">by Rachel BONJEAN</span> <br> <a href="http://mex.itn.ftgroup/en/content/86358-iot-will-miniaturisation-be-game-changer" target="_blank"><img src="Template2_fichiers/IMG-w3p6yqt047.png"></a><a href="http://vod.com.ftgroup/RedirectionURLs/Main.aspx?videoName=TTqGvb0hQCjQmghq4oBW" target="_blank"><img src="Template2_fichiers/IMG-r0uslc4a85.png"></a></td>
<td style="padding: 0 12px 0 0;" valign="top" width="131">"Corporate mobility: striking a balance between security and flexibility" <span style="color: #999;">by Fleur BROSSEAU</span> <br> <a href="http://mex.itn.ftgroup/en/content/86382-corporate-mobility-striking-balance-between-security-and-flexibility" target="_blank"><img src="Template2_fichiers/IMG-w3p6yqt047.png"></a></td>
<td valign="top" width="131">"Mobile and application access security at Orange" <span style="color: #999;">by Emmanuelle GUILLEMANT</span> <br> <a href="http://mex.itn.ftgroup/en/content/86377-mobile-and-application-access-security-orange" target="_blank"><img src="Template2_fichiers/IMG-w3p6yqt047.png"></a><a href="http://vod.com.ftgroup/RedirectionURLs/Main.aspx?videoName=sSr8x8Uh0qnGEBCErtGY" target="_blank"><img src="Template2_fichiers/IMG-r0uslc4a85.png"><br></a></td>
</tr>
<tr>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-r0JyQcVEtr.png" height="102" width="131"></td>
<td style="padding: 0 12px 0 0;" width="131"></td>
<td style="padding: 0 12px 0 0;" width="131"></td>
<td width="131"></td>
</tr>
<tr></tr>
<tr>
<td style="padding: 0 12px 0 0;" valign="top" width="131">"Orange Cyberfilter: Security For All" <span style="color: #999;">by Anh VO VIET and Daniel STERN</span> <br> <a href="http://mex.itn.ftgroup/en/content/86376-orange-cyberfilter-security-all" target="_blank"><img src="Template2_fichiers/IMG-w3p6yqt047.png"></a><a href="http://vod.com.ftgroup/RedirectionURLs/Main.aspx?videoName=HrQWtWKuHqU2YXYgDcjU" target="_blank"><img src="Template2_fichiers/IMG-r0uslc4a85.png"></a></td>
<td style="padding: 0 12px 0 0;" valign="top" width="131"></td>
<td style="padding: 0 12px 0 0;" valign="top" width="131"></td>
<td valign="top" width="131"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table style="background: #eee; color: #000;" cellspacing="0" cellpadding="0" align="center" border="0" width="600">
<tbody>
<tr>
<td style="font: bold 24px arial; padding: 20px 20px 0;">The Educational Community Charts its Course between Pleasure and Proficiency</td>
</tr>
<tr>
<td style="padding: 20px;">
<table style="font: 12px arial; color: #000;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-ssiec7kkzA.png" height="102" width="131"></td>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-Oo7fhE5W7z.jpg" height="102" width="131"></td>
<td style="padding: 0 12px 0 0;" width="131"><img src="Template2_fichiers/IMG-mzqy7U1dzP.png" height="102" width="131"></td>
<td width="131"><img src="Template2_fichiers/IMG-uSAZpvgBZ1.png" height="102" width="131"></td>
</tr>
<tr>
<td style="padding: 0 12px 0 0;" valign="top" width="131">Interview "Digital: A reality in schools"<span style="color: #999;"> by Rozenn DAGORN</span> <br><a href="http://mex.itn.ftgroup/en/node/86551" target="_blank"><img src="Template2_fichiers/IMG-n3otjr7f0h.png"></a></td>
<td style="padding: 0 12px 0 0;" valign="top" width="131">"The beginnings of virtual reality and Artificial Intelligence in Education" <span style="color: #999;">by Anne-yvonne HALLOUX-JAHIER</span> <br><a href="http://mex.itn.ftgroup/en/content/86375-beginnings-virtual-reality-and-artificial-intelligence-education" target="_blank"><img src="Template2_fichiers/IMG-n3otjr7f0h.png"></a><a href="http://vod.com.ftgroup/RedirectionURLs/Main.aspx?videoName=0jkDmLZ8W0wgvtSXabjX" target="_blank"><img src="Template2_fichiers/IMG-nuv3qhn4pb.png"></a></td>
<td style="padding: 0 12px 0 0;" valign="top" width="131">"What neuroscience can teach us about learning processes" <span style="color: #999;">by Chantal DUBON-CHEVALLIER</span> <br><a href="http://mex.itn.ftgroup/en/node/86523" target="_blank"><img src="Template2_fichiers/IMG-n3otjr7f0h.png"></a><a href="http://vod.com.ftgroup/RedirectionURLs/Main.aspx?videoName=49Q2Huyc0qEE3KkESoMs" target="_blank"><img src="Template2_fichiers/IMG-nuv3qhn4pb.png"></a></td>
<td valign="top" width="131">"Cognitive science: a pool of best practices for learning" <span style="color: #999;">by Chantal DUBON-CHEVALLIER</span> <br><a href="http://mex.itn.ftgroup/en/node/86524" target="_blank"><img src="Template2_fichiers/IMG-n3otjr7f0h.png"></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table style="background: #4bb4e6; color: #000;" cellspacing="0" cellpadding="0" align="center" border="0" width="600">
<tbody>
<tr>
<td style="padding: 20px;">
<table style="font: bold 12px arial; color #000;text-align: center;" cellspacing="0" cellpadding="0" width="560">
<tbody>
<tr>
<td style="padding: 0 20px;" width="100"><img src="Template2_fichiers/IMG-cpg8h49ty8.png"></td>
<td style="padding-right: 20px;" width="200"><a href="http://mex.itn.ftgroup/en/content/86203-badim-summer-2018-consumers-taming-power-digital-world"><img src="Template2_fichiers/IMG-9RMmhNrueA.png" height="180" width="128"></a></td>
<td width="200"><a href="http://mex.itn.ftgroup/en/content/86278-slides-badim-summer-2018-conference"><img src="Template2_fichiers/IMG-62qjIaymBy.png" height="180" width="128"></a></td>
</tr>
<tr>
<td style="padding: 0 20px;" width="100"></td>
<td style="padding-right: 20px;" valign="top" width="200"><a href="http://mex.itn.ftgroup/en/content/86203-badim-summer-2018-consumers-taming-power-digital-world" style="color: #000; text-decoration: none;">Download the complete issue</a></td>
<td valign="top" width="200"><a href="http://mex.itn.ftgroup/en/content/86278-slides-badim-summer-2018-conference" style="color: #000; text-decoration: none;">Download badim conference slides </a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table style="background: #000; color: #fff;" cellspacing="0" cellpadding="0" align="center" width="600">
<tbody>
<tr>
<td style="font: 13px arial; padding: 20px;"><img src="Template2_fichiers/IMG-yddgxm5ul9.gif"><br><br><b>TGI / Strategic Steering of Innovation / IBIO / Market Intelligence <br> </b> contact : <a style="color: #ff7900; text-decoration: underline;" href="mailto:nsm.marketintelligence@orange.com?subject=Badim%20Conference">ZZZ Market Intelligence</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>

</body><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span></html>